*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-image: url('OIP.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 112px;
    background-color: #fff;
    padding-bottom: 30px;
    width: 40%;
    height: auto;
    border-radius: 40px;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}
.text{
    font-size: 48px;
    font-weight: 700;
    color: rgb(118, 118, 218);
}
.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;

}
.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: rgb(232, 237, 237);
    border-radius: 6px;
}
.input img{
    margin: 0px 30px;
}
.input input{
    height: 50px;
    width: 400px;
    background: none;
    outline: none;
    border: none;
    color: #797979;
    font-size: 19px;
}
.submit-container{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 35px;
}
.submit{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background-color: rgb(118, 118, 218);
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    border: none
}